/*********************** FONTS ***********************/

@import url('https://fonts.googleapis.com/css?family=Courgette|Oleo+Script|Satisfy&display=swap');

/* font-family: 'Satisfy', cursive;
font-family: 'Courgette', cursive;
font-family: 'Oleo Script', cursive; */

/*********************** TOP NAVIGATION ***********************/

body {
  height: 100vh;
}

nav {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.hamburger-menu {
  height: 5rem;
  padding: 1rem;
}

.cat-icon {
  height: 5rem;
  padding: 1rem;
}

nav ul {
  margin: 0;
  border: 1px black solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  list-style: none;
  padding: 0;
    /* add these in desktop */
    display: none;
}

ul li {

}

.hero-section {
  background-image: linear-gradient(rgba(204, 102, 255, 0.3), rgba(204, 102, 255, 0.3)), url("../assets/mountainContrast.jpg");
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

.title {
  text-align: center;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Oleo Script', cursive;
  font-size: 4rem;
  } 

/*********************** MAIN ***********************/

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    text-align: center;
    gap: 1rem;
    background: cyan;
  }

  .reggie-intro {
    border: 2px solid black;
    border-radius: 10px;
    float: left;
  }

  main p {
    max-width: 75ch;
    margin: 1rem 2rem;
  }

/*********************** CONTENT BAND ***********************/

section {
  background: skyblue;
}

h1 {
  margin:0;
  text-align: center;
}

.content-band {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.card {
  height: 20rem;
  width: 15rem;
  background: slategrey;
  margin: 2rem auto;
  border: 1px solid black;
}

.card-img {
  margin: 1.5rem auto;
  border: 1px black solid;
  border-radius: 10px;
}

.card-text {
  background: white;
  text-align: center;
  width: 80%;
  margin: auto;
  border: 1px solid black;
}

.card-text h3,
p {
  margin: 0;
}

/*********************** IMAGE GALLERY ***********************/

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

/* images */

figure {
  /* border: 5px #222 solid; */
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: auto;
}

figure img {
  width: 270px;
  height: 270px;
}

figcaption {
  background-color: #222;
  color: #fff;
  padding: 3px;
  text-align: center;
}

/*********************** FORM ***********************/

.form-sec {
  background: lightgoldenrodyellow;
}

.form-container {
  display: grid;
  /* flex-wrap: wrap; */
  justify-content: center;
  height: 50vh;

}

fieldset {
  border: none;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  /* align-self: auto; */
}




















































/*********************** HERO IMAGE ***********************/



/* Place text in the middle of the image */

/*********************** END OF HERO IMAGE ***********************/

/* main {
background: yellow;

}

.mainDiv {

}

main h2 {
text-align: center;
padding: 20px;
}

main p {
margin: 10%;
margin-top: 0;
}

.reggieLaying {
border-radius: 5px;
}*/
